* {
  transition: all 0.9s;
}

body {
  background: #f9f9f9;
  font: 20px 'LeagueGothic';
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
  border-left: 1px solid;
  border-right: 1px solid;
}

.header {
  font-size: 0;
  height: 846px;/*defaul*/
  background: #999 url(../img/bg-hd.jpg) center 0 no-repeat;
}

.header__box {
  padding-top: 65px;
}

.header__title {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.header__title--end {
  color: #714E7F;
}

.header__menu {
  font-size: 24px;
}

.menu__link {
  text-transform: uppercase;
  color: #fff;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
}

.sliders {
  position: relative;
  height: 400px;
  background: rgba(0, 0, 0, .2);
}

.sliders__article {
  position: relative;
  height: 400px;
}

.sliders__box-text {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translatey(-55%);
  overflow: hidden;
}

.sliders__title {
  color: #fff;
}

.sliders__subtitle {
  color: #edbfff;
}

.sliders__title,
.sliders__subtitle {
  white-space: nowrap;
}

.sliders__text {
  font-family: 'OpenSansLight';
  color: #fff;
}

.sliders__img {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -20px;
  transform: translatey(-50%);
}

.sliders__navigator {
  margin: 25px 0 0 150px;
  text-align: center;
}

.navigator__li {
  display: inline-block;
  margin: 5px;
}

.navigator__link {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3f424a;
}

.navigator__link:hover:after,
.navigator__link--hover:after {
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border: 3px solid #37363f;
  border-radius: 50%;
  background: #fff;
}

.section__blurbs {
  height: 344px;
  padding-top: 45px;
  background: linear-gradient(to top, #342639, #744F82);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 0;
}

.blurb {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  padding-left: 5%;
  width: 33.3336%;
  color: #fff;
}

.blurb--1:before,
.blurb--2:before,
.blurb--3:before {
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
  content: '';
  width: 28px;
  height: 30px;
  background: url(../img/sprite.png) no-repeat -54px center;;
}

.blurb--2:before {
  background-position: -84px center;
}

.blurb--3:before {
  background-position: -113px center;
}

.blurb__header {
  font-size: 30px;
  text-transform: uppercase;
	text-shadow: 1px 2px 2px #000;
}

.blurb__text {
  font: 16px OpenSansLight;
  overflow: hidden;
}

.blurb__link {
  display: block;
  margin-top: 10px;
  padding: 0 40px 0 0;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.blurb__link:hover {
  text-shadow: 0 0 5px #fff;
}


.blog {
  padding: 50px 0;
	font-size: 0;
}

.testimonial-wrap {
  display: inline-block;
  width: 50%;
  border-left: 25px solid #F9F9F9;
  vertical-align: top;
}

.updates-wrap {
  position: relative;/*link*/
  display: inline-block;
  padding-left: 6%;
  width: 50%;
  vertical-align: top;
}

.testimonial {
  position: relative;
  background: #fff;
}

.testimonial:before {
  position: absolute;
  display: block;
  content: '';
  top: 22px;
  left: -25px;
  width: 50px;
  height: 50px;
  background: url(../img/testimonial-img.png) no-repeat;
}

.testimonial:after {
  position: absolute;
  right: 50px;
  bottom: 30px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 25px solid #fff;
  border-left: 25px solid transparent;
}

.testimonial__title {
  padding: 30px 0 0 30px;
  font: 30px LeagueGothic;
  text-transform: uppercase;
}

.testimonial__title--pink {
  color: #edbfff;
}

.testimonial__bq {
  //position: relative;
  margin: 0 30px 30px;
  font: 16px OpenSansLight;
  overflow: hidden;
}

.testimonial-navigator {
  display: block;
  padding-top: 30px;
  text-align: center;
  background: #F9F9F9;
}

.testimonial .navigator__link {
  border: 1px solid #f0f0f0;
  background: #fff;
}

.testimonial .navigator__link:hover:after,
.testimonial .navigator__link--hover:after {
  display: block;
  content: '';
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #555;
}

.updates__item {
  position: relative;
  display: inline-block;
  margin: 6px 0;
  height: 50px;
  padding-left: 60px;
  overflow: hidden;
}

.updates__item:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/updates-bg.jpg) no-repeat 0 -15px;
  border-radius: 50%;
}

.updates__item-2:before {
  background: url(../img/updates-bg.jpg) no-repeat -25px -20px;
}

.updates__item-3:before {
  background: url(../img/updates-bg.jpg) no-repeat -10px -25px;
}

.updates__title {
  font: 30px LeagueGothic;
  text-transform: uppercase;
}

.updates__subtitle {
  padding-top: 3px;
  font: 600 16px OpenSansRegular;
  white-space: nowrap;
}

.updates__info {
  font: 15px OpenSansLight;
  white-space: nowrap;
}

.updates__link {
  position: absolute;
  bottom: -30px;
  right: 5px;
  font-size: 18px;
  color: #000;
}

.partners {
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  font-size: 0;
}

.partrers__item {
  display: inline-block;
  margin: 0 40px;
  vertical-align: middle;
}

.footer__info {
  padding: 70px 0;
  background: #ECECEC;
  font-size: 0;
}

.info__blocks {
  display: inline-block;
  width: 33.33336%;
  height: 190px;
  font-size: 20px;
  overflow: hidden;
}

.info__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #454545;
}

.info__text {
  width: 250px;
  font: 15px OpenSansLight;
  color: #787878;
}

.footer__menu {
  position: relative;
  height: 200px;
  background: #333 url(../img/ft-bg.jpg) bottom center;
  background-size: cover;
}

.footer__menu .menu {
  display: block;
  text-align: left;
  padding-top: 30px;
}

.footer__menu .menu__li {
  margin-left: 0;
  margin-right: 20px;
}

.footer__designed {
  position: absolute;
  font: 12px OpenSansLight;
  color: #fff;
}

.footer__designed--link {
  color: #fff;
  font: 16px LeagueGothic;
}

@media screen and (min-width: 961px) {
  .header__box {
    height: 280px;
  }

  .header__logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  .header__menu {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
  }

  .menu {
    text-align: right;
  }

  .menu__li {
    display: inline-block;
    margin-left: 50px;
  }

  .sliders__title {
    font-size: 60px;
  }

  .sliders__subtitle {
    font-size: 32px;
  }

  .sliders__text {
    width: 500px;
    font-size: 18px;
  }
  
  .sliders__img {
    right: 70px;
  }
  
  .updates__link {
    right: 15px;
  }
  
  .partrers__item {
    margin: 0 4%
  }
  
  .info__title--logo-from-960 {
    font-size: 48px;
  }
  
  .info__title--logo-from-960-end {
    color: #b9b9b9;
  }
  
  .info__copyright {
    color: #b9b9b9;
    font: italic 14px OpenSansLight;
  }
  
  .info__title--news {
    display: none;
  }
  
  .info__title--news-from-960 {
    display: block;
  }
  
  .footer__designed {
    bottom: 5px;
    right: 0px;
  }
}


@media screen and (min-width: 768px) and (max-width: 960px) {
  .wrapper {
    width: 768px;
  }
  
  .header__box {
    height: 244px;
  }

  .header__menu {
    width: 100%;
  }

  .menu {
    text-align: left;
  }

  .menu__li {
    display: inline-block;
    margin-right: 40px;
  }
  
  .sliders__box-text {
    width: 260px;
    left: 20px;
  }

  .sliders__title {
    font-size: 49px;
  }

  .sliders__subtitle {
    font-size: 23px;
  }

  .sliders__text {
    height: 130px;
    font-size: 16px;
  }

  .sliders__img {
    right: 30px;
  }
  
  .blurb {
    padding-left: 8%;
  }
  
  .blurb__header {
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #000;
  }
  
  .blurb__text {
    width: 180px;
    height: 130px;
    font-size: 16px;
  }
  
  .testimonial__title {
    font-size: 24px;
  }
  
  .testimonial__title--pink {
    display: block;
    margin-top: -5px;
  }
  
  .testimonial__bq {
    height: 130px;
  }
  
  .updates__item {
    width: 300px;
  }
  
  .partners {
    padding-left: 0px;
    text-align: left;
  }
  
  .partrers__item {
    margin: 0 3.5%
  }
  
  .info__title--logo-from-960,
  .info__title--logo-from-960-end,
  .info__title--comments-from-960,
  .info__copyright {
    display: none;
  }
  
  .info__title {
    font-size: 24px
  }
  
  .info__text {
    width: 210px;
  }
  
  .footer__designed {
    bottom: -60px;
    right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header__box {
    height: 205px;
  }

  .header__logo {
    width: 100%;
    text-align: center;
  }

  .header__menu {
    position: absolute;
    left: 50%;
    width: 245px;
    height: 35px;
    transform: translatex(-50%);
    overflow: hidden;
    border-radius: 13px;
    z-index: 1;
  }

  .header__menu:hover {
    height: auto;
    background: rgba(54, 41, 62, 0.8);
    transition: all .2;
  }

  .menu__li {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }

  .menu__li:hover {
    border-bottom: 2px solid #edbfff;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 5px #fff;
    transition: none;/*border-bottom*/
  }

  .menu__link {
    border-bottom: 2px solid #edbfff;
  }
  
  .header__menu:hover .menu__link {
    border: 0;
  }

  .menu__link:hover {
    transition: none;/*border-bottom*/
  }
  
  .section__blurbs {
    height: 600px;
  }
  
  .blurb {
    padding-left: 50px;
    width: 100%;
  }
  
  .blurb__header {
    font-size: 22px;
  }

  .blurb__text {
    height: 70px;
    font-size: 16px;
  }

  .blurb__link {
    padding: 0 5px 0 0;
    font-size: 18px;
  }
  
  .testimonial {
    margin: 0 0 20px 0; 
    width: 100%;
  }
  
  .updates-wrap {
    width: 100%;
  }
  
  
  .footer__designed {
    top: 90px;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 440px;
  }
  
  .header {
    height: 548px;
  }
  
  .sliders {
    height: 246px;
  }

  .sliders__article {
    position: relative;
    height: 246px;
  }
  
  .sliders__box-text {
    left: 20px;
    width: 180px;
  }

  .sliders__title {
    font-size: 32px;
  }

  .sliders__subtitle {
    font-size: 16px;
  }

  .sliders__text {
    display: none;
  }

  .sliders__img {
    margin-top: 14px;
    width: 192px;
  }
  
  .testimonial__title {
    font-size: 30px;
  }
  
  .updates {
    border-left: 45px solid transparent;
    width: 85%;
  }
  
  .updates__item {
    width: 300px;
  }
  
  .updates__link {
    right: -15px;
  }
  
  .partrers__item {
    margin: 10px 7%;
  }
  
  .info__blocks {
    width: 100%;
  }
  
  .info__title--logo-from-960,
  .info__title--logo-from-960-end,
  .info__title--comments-from-960,
  .info__copyright {
    display: none;
  }
  
  .info__title {
    margin: 5px 0;
    font-size: 24px
  }
  
  .info__text {
    width: 100%;
  }
  
  .footer__menu .menu__li {
    display: inline;
    height: 35px;
    line-height: 35px;
    text-align: left;
    margin: 0 9px;
  }
  
  .footer__menu .menu__link {
    border: 0;
  }
  
  .footer__designed {
    bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    width: 280px;
  }
  
  .header {
    height: 515px;
  }
  
  .header__box {
    height: 210px;
  }
  
  .header__sliders {
    height: 200px;
    background: transparent;
  }

  .sliders__article {
    margin: 0 auto;
    width: 280px;
    height: 200px;
  }

  .sliders__box-text {
    width: 205px;
    left: 32px;
  }

  .sliders__title {
    font-size: 35px;
  }

  .sliders__subtitle {
    font-size: 18px;
  }

  .sliders__text {
    display: none;
  }

  .sliders__img {
    display: none;
  }
  
  .sliders__navigator {
    margin: 0;
  }
  
  .testimonial__title {
    font-size: 24px
  }
  
  .testimonial__title--pink {
    display: block;
  }
  
  .testimonial__bq {
    height: 155px;
  }
  
  .updates {
    padding: 0;
    width: 265px;
  }
  
  .updates__item {
    width: 265px;
  }
  
  .updates__subtitle {
    width: 145px;
    overflow: hidden;
  }
  
  .partrers__item {
    margin: 20px 8%;
  }
  
  .footer__info,
  .footer__menu .menu {
    display: none;
  }
  
  .footer__designed {
    top: 40px;
  }
}