* {
  transition: all 0.9s;
}

body {
  background: #f9f9f9;
  font: 20px 'LeagueGothic';
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 960px;
/*   border-left: 1px solid;
  border-right: 1px solid; */
}

.header {
  height: 846px;
  background: #999 url(../img/bg-hd.jpg) center 0 no-repeat;
  font-size: 0;
}

.header__box {
  padding-top: 65px;
}

.header__title {
  font-size: 48px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  color: #fff;
}

.header__title--end {
  text-shadow: none;
  color: #714E7F;
}

.header__menu {
  font-size: 24px;
}

.menu__link {
  transition: none;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, .2);
  color: #fff;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
}

.header__sliders {
  height: 400px;
  background: rgba(0, 0, 0, .2);
}

.sliders {
  position: relative;
}

.sliders__article {
  position: relative;
  height: 400px;
}

.sliders__box-text {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translatey(-55%);
  overflow: hidden;
}

.sliders__title {
  color: #fff;
}

.sliders__subtitle {
  color: #edbfff;
}

.sliders__title,
.sliders__subtitle {
  white-space: nowrap;
}

.sliders__text {
  font-family: 'OpenSansLight';
  color: #fff;
}

.sliders__img {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -20px;
  transform: translatey(-50%);
}

.sliders__arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 29px;
  height: 50px;
  background: url(../img/sprite.png) no-repeat;
}

.sliders__arrow--left {
  left: -25px;
  background-position: 0px center;
}

.sliders__arrow--right {
  right: -25px;
  background-position: -27px center;
}

.sliders__navigator {
  position: absolute;
  bottom: -50px;
  right: 200px;
}

.navigator__li {
  display: inline-block;
  margin: 5px;
}

.navigator__link {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(63, 66, 74, 0.7);
}

.navigator__link:hover:after,
.navigator__link--hover:after {
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  border: 3px solid rgb(63, 66, 74);
  border-radius: 50%;
  background: #fff;
}

.section__blurbs {
  height: 344px;
  padding-top: 45px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: linear-gradient(to top, #342639, #744F82);
  font-size: 0;
}

.blurb {
  display: inline-block;
  position: relative;
  margin-top: 35px;
  padding-left: 5%;
  width: 33.3336%;
  color: #fff;
}

.blurb--1:before,
.blurb--2:before,
.blurb--3:before {
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
  content: '';
  width: 28px;
  height: 30px;
  background: url(../img/sprite.png) no-repeat -54px center;
}

.blurb--2:before {
  background-position: -84px center;
}

.blurb--3:before {
  background-position: -113px center;
}

.blurb__header {
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
}

.blurb__text {
  width: 230px;
  height: 110px;
  overflow: hidden;
  font: 16px OpenSansLight;
}

.blurb__link {
  display: block;
  margin-top: 10px;
  padding: 0 40px 0 0;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.blurb__link:hover {
  text-shadow: 0 0 5px #fff;
}

.blog {
  padding: 50px 0;
	font-size: 0;
}

.testimonial-wrap {
  display: inline-block;
  width: 50%;
  border-left: 25px solid #F9F9F9;
  vertical-align: top;
}

.updates-wrap {
  display: inline-block;
  position: relative;
  padding-left: 6%;
  width: 50%;
  vertical-align: top;
}

.testimonial {
  position: relative;
  background: #fff;
}

.testimonial:before {
  display: block;
  position: absolute;
  top: 22px;
  left: -25px;
  content: '';
  width: 50px;
  height: 50px;
  background: url(../img/testimonial-img.png) no-repeat;
}

.testimonial:after {
  display: block;
  position: absolute;
  right: 50px;
  bottom: 30px;
  content: '';
  width: 0;
  height: 0;
  border-top: 25px solid #fff;
  border-left: 25px solid transparent;
}

.testimonial__title {
  padding: 30px 0 0 30px;
  font: 30px LeagueGothic;
  text-transform: uppercase;
}

.testimonial__title--pink {
  color: #edbfff;
}

.testimonial__bq {
  margin: 0 30px 30px;
  font: 16px OpenSansLight;
  overflow: hidden;
}

.testimonial-navigator {
  display: block;
  padding-top: 30px;
  text-align: center;
  background: #F9F9F9;
}

.testimonial .navigator__link {
  border: 1px solid #f0f0f0;
  background: #fff;
}

.testimonial .navigator__link:hover:after,
.testimonial .navigator__link--hover:after {
  display: block;
  content: '';
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #555;
}

.updates__item {
  display: inline-block;
  position: relative;
  margin: 6px 0;
  height: 50px;
  padding-left: 60px;
  overflow: hidden;
}

.updates__item:before {
  display: block;
  position: absolute;
  left: 0;
  content: '';
  width: 50px;
  height: 50px;
  background: url(../img/updates-bg.jpg) no-repeat 0 -15px;
  border-radius: 50%;
}

.updates__item-2:before {
  background: url(../img/updates-bg.jpg) no-repeat -25px -20px;
}

.updates__item-3:before {
  background: url(../img/updates-bg.jpg) no-repeat -10px -25px;
}

.updates__title {
  font: 30px LeagueGothic;
  text-transform: uppercase;
}

.updates__subtitle {
  padding-top: 3px;
  font: 600 16px OpenSansRegular;
  white-space: nowrap;
}

.updates__info {
  font: 15px OpenSansLight;
  white-space: nowrap;
}

.updates__link {
  position: absolute;
  bottom: -30px;
  right: 5px;
  font-size: 18px;
  color: #000;
}

.partners {
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  font-size: 0;
}

.partrers__item {
  display: inline-block;
  margin: 0 40px;
  vertical-align: middle;
}

.footer__info {
  padding: 70px 0;
  background: #ECECEC;
  font-size: 0;
}

.info__blocks {
  display: inline-block;
  width: 30%;
  height: 190px;
  overflow: hidden;
  font-size: 20px;
}

.info__blocks--middle {
  padding-left: 40px;
  width: 40%;
}

.info__title--logo-from-960,
.info__title--logo-from-960-end,
.info__title--comments-from-960,
.info__copyright {
  display: none;
}

.info__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #454545;
}

.info__text {
  width: 270px;
  overflow: hidden;
  font: 15px OpenSansLight;
  color: #787878;
}

.footer__menu {
  position: relative;
  height: 200px;
  background: #333 url(../img/ft-bg.jpg) bottom center;
  background-size: cover;
}

.footer__menu .menu {
  display: block;
  padding-top: 30px;
  text-align: left;
}

.footer__menu .menu__li {
  margin-left: 0;
  margin-right: 35px;
}

.footer__designed {
  position: absolute;
  font: 12px OpenSansLight;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .5);
  color: #fff;
}

.footer__designed--link {
  font: 16px LeagueGothic;
  color: #fff;
}

@media screen and (min-width: 961px) {
  .header__box {
    height: 280px;
  }

  .header__logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  .header__menu {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
  }

  .menu {
    text-align: right;
  }

  .menu__li {
    display: inline-block;
    margin-left: 50px;
  }

  .sliders__title {
    font-size: 60px;
  }

  .sliders__subtitle {
    font-size: 32px;
  }

  .sliders__text {
    width: 500px;
    font-size: 18px;
  }

  .sliders__img {
    right: 70px;
  }

  .sliders__arrow--left {
    left: -200px;
  }

  .sliders__arrow--right {
    right: -200px;
  }

  .updates__link {
    right: 15px;
  }

  .partrers__item {
    margin: 0 4%
  }

  .info__title--logo-from-960 {
    display: block;
    font-size: 48px;
  }

  .info__title--logo-from-960-end {
    display: inline-block;
    color: #b9b9b9;
  }

  .info__copyright {
    display: block;
    font: italic 14px OpenSansLight;
    color: #b9b9b9;
  }

  .info__title--comments-from-960 {
    display: block;
  }

  .info__title--news {
    display: none;
  }

  .info__title--news-from-960 {
    display: block;
  }

  .footer__designed {
    bottom: 5px;
    right: 0px;
  }
}


@media screen and (min-width: 768px) and (max-width: 960px) {
  .wrapper {
    width: 728px;
  }

  .header__box {
    height: 244px;
  }

  .header__menu {
    width: 100%;
  }

  .menu {
    text-align: left;
  }

  .menu__li {
    display: inline-block;
    margin-right: 40px;
  }

  .sliders__box-text {
    left: 20px;
    width: 260px;
    height: 180px;
  }

  .sliders__title {
    font-size: 49px;
  }

  .sliders__subtitle {
    font-size: 23px;
  }

  .sliders__text {
    font-size: 16px;
  }

  .sliders__img {
    right: 30px;
  }

  .blurb {
    padding-left: 8%;
  }

  .blurb__header {
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #000;
  }

  .blurb__text {
    width: 180px;
    height: 130px;
    font-size: 16px;
  }

  .testimonial__title {
    font-size: 24px;
  }

  .testimonial__title--pink {
    display: block;
    margin-top: -5px;
  }

  .testimonial__bq {
    height: 130px;
  }

  .updates__item {
    width: 300px;
  }

  .partners {
    padding-left: 0px;
    text-align: left;
  }

  .partrers__item {
    margin: 0 3%;
  }

  .info__title {
    font-size: 24px;
  }

  .info__text {
    width: 210px;
    height: 150px;
    line-height: 21px;
  }

  .footer__designed {
    bottom: -60px;
    right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header__box {
    height: 205px;
  }

  .header__logo {
    width: 100%;
    text-align: center;
  }

  .header__menu {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 245px;
    height: 35px;
    border-radius: 13px;
    overflow: hidden;
    z-index: 1;
  }

  .header__menu:hover {
    height: auto;
    background: rgba(54, 41, 62, 0.8);
    transition: all .2;
  }

  .menu__li {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }

  .menu__li:hover {
    border-bottom: 2px solid #edbfff;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 5px #fff;
    transition: none;
  }

  .menu__link {
    border-bottom: 2px solid #edbfff;
  }

  .header__menu:hover .menu__link {
    border: 0;
  }

  .menu__link:hover {
    transition: none;
  }

  .section__blurbs {
    height: 600px;
  }

  .blurb {
    padding-left: 50px;
    width: 100%;
  }

  .blurb__header {
    font-size: 22px;
  }

  .blurb__text {
    height: 70px;
    font-size: 16px;
  }

  .blurb__link {
    padding: 0 5px 0 0;
    font-size: 18px;
  }

  .testimonial {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .updates-wrap {
    margin: 20px 0 100px;
    width: 100%;
  }

  .footer__designed {
    top: 90px;
    left: 50%;
    transform: translatex(-50%);
  }

  .footer__menu .menu__li:hover {
    background: transparent;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 440px;
  }

  .header {
    height: 548px;
  }

  .sliders {
    height: 246px;
  }

  .sliders__article {
    height: 246px;
  }

  .sliders__box-text {
    left: 20px;
    width: 180px;
    height: 60px;
  }

  .sliders__title {
    font-size: 32px;
  }

  .sliders__subtitle {
    font-size: 16px;
  }

  .sliders__img {
    margin-top: 14px;
    width: 192px;
  }

  .sliders__navigator {
    right: 165px;
  }

  .blurb__text {
    width: 100%;
  }

  .testimonial__title {
    font-size: 30px;
  }

  .updates {
    width: 85%;
    border-left: 45px solid transparent;
  }

  .updates__item {
    width: 300px;
  }

  .updates__link {
    right: -15px;
  }

  .partrers__item {
    margin: 10px 7%;
  }
  
  .footer__info {
    padding-bottom: 20px;
  }

  .info__blocks {
    width: 100%;
    height: 180px;
  }
  
  .info__blocks--middle {
    padding: 0;
  }

  .info__title {
    margin: 5px 0;
    font-size: 24px
  }

  .info__text {
    width: 100%;
    height: 85px;
  }

  .footer__menu .menu__li {
    display: inline;
    margin: 0 9px;
    height: 35px;
    line-height: 35px;
    text-align: left;
  }

  .footer__menu .menu__link {
    border: 0;
  }

  .footer__designed {
    bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    width: 280px;
  }

  .header {
    height: 515px;
  }

  .header__box {
    height: 210px;
  }

  .header__sliders {
    height: 200px;
    background: transparent;
  }

  .sliders__article {
    margin: 0 auto;
    width: 280px;
    height: 200px;
  }

  .sliders__box-text {
    left: 32px;
    width: 205px;
  }

  .sliders__title {
    font-size: 35px;
  }

  .sliders__subtitle {
    font-size: 18px;
  }

  .sliders__text {
    display: none;
  }

  .sliders__img {
    display: none;
  }

  .sliders__navigator {
    right: 90px;
  }

  .testimonial__title {
    font-size: 24px
  }

  .testimonial__title--pink {
    display: block;
  }

  .testimonial__bq {
    height: 155px;
  }

  .updates {
    padding: 0;
    width: 265px;
  }

  .updates__item {
    width: 265px;
  }

  .updates__subtitle {
    width: 145px;
    overflow: hidden;
  }

  .partrers__item {
    margin: 20px 8%;
  }

  .footer__info,
  .footer__menu .menu {
    display: none;
  }

  .footer__designed {
    top: 40px;
  }
}
